body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    margin: 0px;
}

#visualisation{
    width: 100vw;
    display: block;
}

.words, p{
    font-size: 24px;
    margin: 0;
    padding: .5%;
    width: fit-content;
    display: block;
}

.words{
    cursor: pointer;
    transition: width 2s;
    min-width: 295px;
    width: fit-content;
    word-break: normal;
}

.links a {
    display: block;
}

.sort {
    vertical-align: middle;
}

@media screen and (max-width: 900px) {
    .words {
        font-size: 14px;
    }
    .words{
        min-width: 100px;
    }
}
